# Sphinx, necessário para gerar a documentação
sphinx>=4.0

# Tema opcional para Read the Docs (pode escolher o tema de sua preferência)
sphinx_rtd_theme

# Breathe, para integrar com Doxygen, se você estiver usando Doxygen para documentar código C++
breathe>=4.31.0

# Eventualmente, outras extensões do Sphinx que você possa usar
sphinx.ext.napoleon   # Para suporte a docstrings no estilo Google e NumPy
sphinx.ext.viewcode   # Para gerar links para o código-fonte
